# dependencies
node_modules
/.pnpm-store

# Next.js & build outputs
.next/
dist/
build/
out/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE & OS files
.DS_Store
*.pem
.vscode/
.idea/

# Scratch & uploads
scratch/
uploads/*
!uploads/.gitkeep
